@using static System.Runtime.InteropServices.JavaScript.JSType
@model List<string>
@{
    ViewData["Title"] = "Techniques";
}
<link rel="stylesheet" href="~/css/videoclips.css" asp-append-version="true" />

<h1 class="title">Techniques</h1>

<div class="video-container">
    <div class="video-item">
        <div class="video-wrapper">
            <iframe src="https://www.youtube.com/embed/YTyh3QoWJXU" allowfullscreen></iframe>
        </div>
        <div class="video-title">Freestyle</div>
    </div>

    <div class="video-item">
        <div class="video-wrapper">
            <iframe src="https://www.youtube.com/embed/tgbNymZ7vqY" allowfullscreen></iframe>
        </div>
        <div class="video-title">Temporary video</div>
    </div>

    <div class="video-item">
        <div class="video-wrapper">
            <iframe src="https://www.youtube.com/embed/9bZkp7q19f0" allowfullscreen></iframe>
        </div>
        <div class="video-title">Temporary video</div>
    </div>

    <div class="video-item">
        <div class="video-wrapper">
            <iframe src="https://www.youtube.com/embed/dQw4w9WgXcQ" allowfullscreen></iframe>
        </div>
        <div class="video-title">Temporary video</div>
    </div>
</div>