
@{
    ViewData["Title"] = "Techniques";
}

<h1 class="title">Techniques</h1>

<div>
    <video width="320" height="240" controls>
        <source src="/videos/Freestyle.mp4" type=video/mp4>
    </video>
</div>