@using static System.Runtime.InteropServices.JavaScript.JSType
@model List<string>
@{
    ViewData["Title"] = "Techniques";
}
<link rel="stylesheet" href="~/css/videoclips.css" asp-append-version="true" />

<h1 class="title">Techniques</h1>

<div style="display:flex; justify-content:center; max-width:850px; margin:0 auto; padding:0 20px; text-align:center;">

    In this sport, a basic knowledge of mechanical physics is essential. To maximize speed, you must understand that positioning, timing and force are all things to consider. Some movements reduce friction, and others increase drag. Even breathing a certain way changes your odds. While your skills matter, technique is the most important part of swimming. Here are the different variables to work on for these four strokes:
</div>
<br/>
<br/>
<br/>

<div class="video-container">
    <div class="video-item">
        <div class="video-wrapper">
            <iframe src="https://www.youtube.com/embed/Mo7NTTCV-Vc" allowfullscreen></iframe>
        </div>
        <div class="video-title">Freestyle</div>
    </div>

    <div class="video-item">
        <div class="video-wrapper">
            <iframe src="https://www.youtube.com/embed/MqS91j16Wnw" allowfullscreen></iframe>
        </div>
        <div class="video-title">Backstroke</div>
    </div>

    <div class="video-item">
        <div class="video-wrapper">
            <iframe src="https://www.youtube.com/embed/L-k_SEwNvNQ" allowfullscreen></iframe>
        </div>
        <div class="video-title">Breaststroke</div>
    </div>

    <div class="video-item">
        <div class="video-wrapper">
            <iframe src="https://www.youtube.com/embed/1FGxJLKSfhI" allowfullscreen></iframe>
        </div>
        <div class="video-title">Butterfly</div>
    </div>

</div>
    *scripts are in the description below each video
