@model List<English_ZP3_Project.Models.Question>

<h1 class="title">Health Benefits</h1>

<div style="display:flex; justify-content:center; max-width:850px; margin:0 auto; padding:0 20px; text-align:center;">
On another note, swimming has a great impact on the body. Some of the most common physics principles help make this sport the perfect exercise on the human biology. To learn more about its health benefits, try our quiz:
</div>
<br/>
<br/>
<br/>


<div id="quiz-container" style="display:flex; justify-content:center; max-width:850px; margin:0 auto; padding:0 20px; text-align:center;">
    <div id="question-box" data-index="0">
        <p id="question-text"></p>
        <div id="options"></div>
        <p id="result"></p>
        <p id="explanation" style="display:none; color:blue;"></p>
    </div>
</div>

<button id="next-btn" style="display:none;">Next</button>

<script>
    const questions = @Html.Raw(System.Text.Json.JsonSerializer.Serialize(Model))
</script>
<script src="~/js/quiz.js" asp-append-version="true"></script>

<style>
    button{
        background-color: #452FBA;
        color: white;
        outline: none;
        border: 2px solid currentColor;
        cursor: pointer;
        padding: 12px 20px;
        border-radius: 50px;
        font-size: 1.1em;
    }
</style>