
@{
    ViewData["Title"] = "PhysicalExam";
}

<h1>PhysicalExam (temporary layout)</h1>

this will be the game

<div>
    <pre>
        <b>The Arm Movement</b>

        The arm stroke in freestyle can be split into four phases:

        1.	Hand Entry
        2.	Catch
        3.	Pull 
        4.	Recovery

        Each phase involves a different set of muscles:

        <b>·	Hand entry</b>
        The multiples muscles in the wrist help stabilize the hands and keep them in the best position.

        <b>•	Catch</b>
         As the hand enters the water and prepares to pull, swimmers activate their pectorals (chest muscles) and the latissimus dorsi and trapezius which are large 
         upper and middle back muscles.

        <b>•	Pull</b>
         This is where most of the forward motion is generated. Swimmers use their shoulder adductors, extensors and internal rotators to provide the stroke power 
         and their latissimus dorsi and serratus anterior for propulsion. They also use their biceps and triceps for elbow flexion and extension. They use their 
         shoulder muscles (rotator cuff and deltoids), their middle back muscles (trapezius) and their rib cage muscle (serratus anterior) to stabilize and rotate 
         the shoulder.

        <b>•	Recovery</b>
        When the arm exits the water and swings forward, deltoids, trapezius, and rotator cuff muscles play a key role in maintaining shoulder stability and a fluid 
        motion.
 


        <b>The legs</b>

        The kick in freestyle is known as the flutter kick, an alternating motion with straight or slightly bent legs. Though not the main source of propulsion, a 
        well-timed and consistent kick improves balance, reduces drag and maintains horizontal body position. The kick can be split in two movements: the downbeat 
        and the upbeat.

        <b>·	Downbeat (kick downward):</b>
        The quadriceps are used to extend the knee, and the hip flexors bring the thigh forward and down.

        <b>·	Upbeat (kick upward):</b>
        The hamstrings flex the knee and the gluteus maximus (glutes) helps lift the leg to the surface. The gastrocnemius and the soleus (calf muscles) are also 
        used to maintain the ankles extended and the toes pointed.
 


        <b>Body position</b>

        To maintain an effective position in the water, and an effective rotation, you also need to use your abdominal muscles and your obliques. The core should be 
        engaged during the whole stroke, but it is especially important to keep it engaged during the pull and the kick phases. You also need your lower back muscles 
        and your hip flexors and glutes to create tension in your back which maintain your spine straight and keeps your legs close to the surface which keeps them 
        from sinking and creating drag.
        A strong core also ensures that the rotation of the body comes primarily from the shoulders, not from bending the spine.

    </pre>
</div>

