@using static System.Runtime.InteropServices.JavaScript.JSType
@{
    ViewData["Title"] = "Physical Exam";
}
<link rel="stylesheet" href="~/css/videoclips.css" asp-append-version="true" />

<h1 class="title">Physical Examination</h1>

<div style="display:flex; justify-content:center; max-width:850px; margin:0 auto; padding:0 20px; text-align:center;">

    Technology and techniques play a huge role in swimming has a whole, they help to achieve faster time or help swimmers to get less exhausted while swimming for long periods of time. Yes, these techniques and technology are truly a blessing for the swimmer who has them, but what about the muscles behind those miracles? Muscles, like in most sports and physical activities, play a huge part in swimming and it’s not because swimming makes the body not as heavy compared to running that it doesn’t put a lot of pressure on them, swimming put even more pressure on the muscles than running actually because it’s a full-body workout which uses all the muscles in the humans body. We’ve got four main arms movements such as hand entry, catch, pull and recovery which are universally used in the four techniques of swimming and four legs movements which are upbeat, downbeat, outsweep and propulsive phase the two latter being mostly used in breaststroke.
</div>
<br />
<br />
<br />
<span style="display:flex; justify-content:center; text-align:center;">
    First, check out our tutorial on how to navigate the game section!
</span>
<br />

<div class="video-container" style="display:flex; justify-content:center;">

    <div class="video-item">
        <div class="video-wrapper">
            <iframe src="https://www.youtube.com/embed/9xKw4LnUOno?si=fmHR8S3QPTSEtkLF" allowfullscreen></iframe>
        </div>
        <div class="video-title">How to play</div>
    </div>


</div>

<br />
<br />
<br />
<span style="display:flex; justify-content:center; text-align:center;font-size:40px;font-weight:600;">
    <a href="https://didlydooforyou.itch.io/swimming-race">Click here to download!</a>
</span>
<br />
