@model Swimmer
@{
    ViewData["Title"] = Model.ID;
}

<link rel="stylesheet" href="~/css/bio.css" asp-append-version="true" />


<h1 class="title">@Model.Name</h1>

<div class="bio-container">


        <div class="swimmer">


        </div>

    
</div>