@model List<Technology>
@{
    ViewData["Title"] = "Technology";
}

<link rel="stylesheet" href="~/css/timeline.css" asp-append-version="true" />

<h1 class="title">Technology</h1>


<span> timeline of technology related to swimming</span>


<div class="center">
    <div class="slider">
        <div class="cards">
            <div class="card">
                <div class="title">HTML</div>
                <div class="subtitle">Bootcamp</div>
                <span class="material-icons">north_east</span>
            </div>

            <div class="card">
                <div class="title">CSS</div>
                <div class="subtitle">Mastery</div>
                <span class="material-icons">north_east</span>
            </div>

            <div class="card">
                <div class="title">JavaScript</div>
                <div class="subtitle">Crash Course</div>
                <span class="material-icons">north_east</span>
            </div>

            <div class="card">
                <div class="title">Front End</div>
                <div class="subtitle">Framworks</div>
                <span class="material-icons">north_east</span>
            </div>

            <div class="card">
                <div class="title">UI/UX</div>
                <div class="subtitle">Bootcamp</div>
                <span class="material-icons">north_east</span>
            </div>

            <div class="card">
                <div class="title">SASS & LESS</div>
                <div class="subtitle">Advanced Styling</div>
                <span class="material-icons">north_east</span>
            </div>

            <div class="card">
                <div class="title">Bootstrape</div>
                <div class="subtitle">Sessions</div>
                <span class="material-icons">north_east</span>
            </div>

            <div class="card">
                <div class="title">React</div>
                <div class="subtitle">Development</div>
                <span class="material-icons">north_east</span>
            </div>

            <div class="card">
                <div class="title">Node.JS</div>
                <div class="subtitle">Tutorials</div>
                <span class="material-icons">north_east</span>
            </div>

            <div class="card">
                <div class="title">API</div>
                <div class="subtitle">Integration</div>
                <span class="material-icons">north_east</span>
            </div>
        </div>
    </div>
</div>