@using English_ZP3_Project.Models.Technologies
@model Technology
@{
    ViewData["Title"] = Model.Name;
}

<link rel="stylesheet" href="~/css/scrolling.css" asp-append-version="true" />

<h1 class="title">@Model.Name</h1>
 
<div class="center">
    <div class="slider">
        <div class="cards">

            @foreach (TechUpdate e in Model.Updates)
            {
                <div class="card-wrapper">
                    <div class="event-header">
                        <h2 class="subtitle">@e.Name</h2>
                    </div>
                    <div class="para">
                        <span class="information" id="texte">@e.Info</span>
                    </div>
                </div>
            }
        </div>
    </div>
</div>