@{
    ViewData["Title"] = "Introduction";
}

<h1 class="title">Introduction</h1>


<div style="text-align:justify; display:flex; gap:20px;">

    <div style="flex:1;">
        <pre style="white-space: pre-wrap; font-family: Arial, sans-serif; font-size:16px;">
@ViewBag.EnText
        </pre>
    </div>

    <div style="flex:1;">
        <pre style="white-space: pre-wrap; font-family: Arial, sans-serif; font-size:16px;">
@ViewBag.FrText
        </pre>
    </div>

</div>