@using English_ZP3_Project.Models
@{
    ViewData["Title"] = "Glossary";
}

<a id="top"></a>
<h2>Glossary</h2>

@foreach (var word in Word.GetGlossary())
{
    var safeId = word.Text.ToLower().Replace(" ", "").Replace("-", "");
    <div class="glossary-entry" id="@safeId" style="margin-bottom:20px;">
        <strong>@word.Text</strong> 
        <strong style="color:lightblue"> / @word.WordClass</strong> 
        
        <br />
        @word.Definition
        <br />
    </div>
}
