@using System.IO;
@model List<ReportFile>
<link rel="stylesheet" href="~/css/reports.css" asp-append-version="true" />

<h1 class="title">Reports</h1>


<div class="reports-container">
    @foreach (ReportFile report in Model)
    {
        <div class="report-box">

            <a class="report-name" href="@report.Url" target="_blank">
                @report.DisplayName
            </a>


        </div>
    }
</div>