@{
    ViewData["Title"] = "Sources";
}

<h1 class="title">Sources</h1>


<br />


Power Racks:
<br />

<a href="https://www.swimcoachjoao.com/post/power-rack-training-unlocking-explosive-speed-for-sprint-swimming#:~:text=A%20power%20tower%20is%20a%20resistance-based%20training%20tool,swimmer%2C%20increasing%20the%20effort%20needed%20to%20propel%20forward.">
    Power Rack Training: Unlocking Explosive Speed for Sprint Swimming
</a>
<br />

<a href="https://www.tpiswim.com/about-us">
    About Us - Total Performance INC
</a>
<br />
<br />

Super Suits :
<br />

<a href="https://www.cbsnews.com/news/olympics-why-some-types-of-swimsuits-are-banned/">
    Why some types of swimsuits are banned at the Olympics - CBS News
</a>
<br />

<a href="https://swimswam.com/are-super-suit-era-swims-still-ahead-of-their-time/">
    Are Super-Suit Era Swims Still Ahead of Their Time?
</a>
<br />

<a href="https://www.youtube.com/watch?v=Z6Xpy2CtjfI&t=121s">
    The Suit That Made Swimmers Too Fast
</a>
<br />

<a href="https://www.scientificamerican.com/article/how-speedo-created-swimsuit/">
    How Speedo Created a Record-Breaking Swimsuit | Scientific American
</a>
<br />
<br />



Modern Suits:
<br />

<a href="https://swimmersworld.co.uk/what-are-the-best-racing-swimwear-brands-on-the-market-top-options-for-competitive-swimmers-in-2025/">
    What Are the Best Racing Swimwear Brands on the Market? Top Options for Competitive Swimmers in 2025 - Welcome to swimmers world
</a>
<br />

<a href="https://www.swimmingworldmagazine.com/news/an-explanation-of-how-tech-suits-benefit-swimmers/">
    An Explanation Of How Tech Suits Benefit Swimmers
</a>
<br />
<br />



Starting Blocks:
<br />

<a href="https://swimswam.com/starting-blocks-theyve-taken-a-big-leap-from-wobbly-wooden-boxes/">
    Starting Blocks: They’ve Taken a Big Leap from Wobbly Wooden Boxes
</a>
<br />

<a href="https://blog.myswimpro.com/2023/07/18/what-is-a-diving-block-in-swimming/">
    What is a Diving Block in Swimming?
</a>
<br />
<br />



Goggles:
<br />

<a href="https://swimswam.com/the-24-best-competition-swimming-goggles-ranked-by-performance/">
    The 24 Best Competition Swimming Goggles – Ranked by Performance
</a>
<br />

<a href="https://www.simplyswim.com/blogs/blog/a-brief-history-of-swimming-goggles">
    A Brief History of Swimming Goggles | Simply Swim UK
</a>
<br />
<br />



Biographies:
<br />

<a href="https://www.olympics.com/en/">
    Olympic Games, Medals, Results & Latest News | Olympics.com
</a>
<br />

<a href="https://www.worldaquatics.com/athletes?gender=&discipline=SW&nationality=&name=">
    World Aquatics
</a>
<br />
<br />


