.reports-container {
    font-size: 14px;
    min-height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 20px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    border-radius: 18px;
}

.report-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,0.85);
    border-radius: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.5s;
    border-radius: 18px;
    position: relative;
    width: 270px;
    margin: 2em;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 180px 1fr auto;
    box-shadow: 0 10px 30px 10px rgba(104, 83, 243, 0.2);
    cursor: pointer;
}

.report-box a {
    background-color: #452FBA;
    color: white;
    outline: none;
    border: 2px solid currentColor;
    cursor: pointer;
    padding: 12px 20px;
    transform: translateY(60px);
    border-radius: 50px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1.1em;
    transition: opacity 0.3s;
}

.report-box:hover {
    opacity: 0.8;
}

    .report-box a {
        color: white;
        text-decoration: none;
    }
